{% extends 'topnews/base.html' %}
{% block content %}
{% for text in stories %}
<div class="container p-2">
    <div class="list-group">
        <a href="{{ text.get_absolute_url }}" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ text.title }}</h5>
            <small>Posted by {{ text.author }} at {{ text.created }}</small>
          </div>
          
        </a>
    </div>
</div>
{% endfor %}

{% for job in results %}
<div class="container p-2">
    <div class="list-group">
        <a href="" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ job.job_title }}</h5>
            <small>Posted by {{ job.job_poster }} at {{ job.created }}</small>
          </div>
          
        </a>
    </div>
</div>

{% endfor %}
{% endblock %}